
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>olg</span>{% endif %} 
    <!--add logo-->
   <div class="img-circle">
   
     <img src="{{site.baseurl}}/assets/logo/logo.{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image"
     
   </div>
  </a>
  <!--end logo-->
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> <!-- End Section Header -->
