
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>log</span>
    {% endif %} 
     <!--     <img src="{{site.baseurl}}/assets/img/face.jpg" class="img-circle">    -->     
  </a> <!--add logo-->
  <nav class="main_menu">
    <a href="{{site.baseurl}}/blog/">Blog </a>
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/robot/">Robot</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> <!-- End Section Header -->
